In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark Sql').getOrCreate()

In [0]:
df = spark.read.options(header=True, inferSchema=True).csv('/FileStore/tables/StudentData.csv')

In [0]:
df.createOrReplaceTempView('students')

In [0]:
spark.sql('select age, gender, count(*) as total_number, avg(marks) from students group by age, gender').show()

+---+------+------------+------------------+
|age|gender|total_number|        avg(marks)|
+---+------+------------+------------------+
| 28|Female|         256|       59.44140625|
| 29|  Male|         261|60.524904214559385|
| 29|Female|         245| 58.85306122448979|
| 28|  Male|         238| 61.61344537815126|
+---+------+------------+------------------+