In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, lit
from pyspark.sql.types import IntegerType, FloatType

In [0]:
spark = SparkSession.builder.appName('UDF').getOrCreate()
df = spark.read.options(header=True, inferSchema=True).csv('/FileStore/tables/OfficeData.csv')

In [0]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [0]:
def increase(salary, bonus, state):
    inc = 10*salary/100 + 5*bonus/100 if state == 'NY' else 12*salary/100 + 3*bonus/100
    return inc

In [0]:
increament = udf(lambda x,y,z: increase(x,y,z), FloatType())

In [0]:
df = df.withColumn('increament', increament(df.salary, df.bonus, df.state))

In [0]:
df.show()

+-------------+----------+-----+------+---+-----+----------+
|employee_name|department|state|salary|age|bonus|increament|
+-------------+----------+-----+------+---+-----+----------+
|        James|     Sales|   NY| 90000| 34|10000|    9500.0|
|      Michael|     Sales|   NY| 86000| 56|20000|    9600.0|
|       Robert|     Sales|   CA| 81000| 30|23000|   10410.0|
|        Maria|   Finance|   CA| 90000| 24|23000|   11490.0|
|        Raman|   Finance|   CA| 99000| 40|24000|   12600.0|
|        Scott|   Finance|   NY| 83000| 36|19000|    9250.0|
|          Jen|   Finance|   NY| 79000| 53|15000|    8650.0|
|         Jeff| Marketing|   CA| 80000| 25|18000|   10140.0|
|        Kumar| Marketing|   NY| 91000| 50|21000|   10150.0|
+-------------+----------+-----+------+---+-----+----------+

In [0]:
df.cache()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-1236991848313226> in <module>
----> 1 df.cache()

NameError: name 'df' is not defined

In [0]:
df.show()

+-------------+----------+-----+------+---+-----+----------+
|employee_name|department|state|salary|age|bonus|increament|
+-------------+----------+-----+------+---+-----+----------+
|        James|     Sales|   NY| 90000| 34|10000|    9500.0|
|      Michael|     Sales|   NY| 86000| 56|20000|    9600.0|
|       Robert|     Sales|   CA| 81000| 30|23000|   10410.0|
|        Maria|   Finance|   CA| 90000| 24|23000|   11490.0|
|        Raman|   Finance|   CA| 99000| 40|24000|   12600.0|
|        Scott|   Finance|   NY| 83000| 36|19000|    9250.0|
|          Jen|   Finance|   NY| 79000| 53|15000|    8650.0|
|         Jeff| Marketing|   CA| 80000| 25|18000|   10140.0|
|        Kumar| Marketing|   NY| 91000| 50|21000|   10150.0|
+-------------+----------+-----+------+---+-----+----------+